body {
    text-align: center; /* centers inline elements */
  margin: 0;
}

.login-box {
    border: 1px solid #D9D9D9;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}