body{
    background-color: #0A494C;
    margin: 0;
    6                 padding: 0;
    7                 display: flex;
    8                 justify-content: center; /* Centers horizontally */
    9                 align-items: center;     /* Centers vertically */
   10                 min-height: 100vh;  
}

.login-box{
    border: 1px solid #D9D9D9;
    width: 400px;
    height: 400px;
}