body {
    background-color: #0A494C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    border: 1px solid #D9D9D9;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}